@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white text-gray-900;
  }
  html.dark {
    @apply bg-gray-900 text-white;
  }
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.group:hover .tooltip {
  visibility: visible;
  opacity: 1;
}